*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: #080808;
    color: #fff;
}
.main{
    width: 100%;
    background: url(IMG-20240503-WA0003.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    width: 95%;
    height: auto;
    margin-left: 30px;
}
.logo{
    color: blue;
    font-size: 40px;
    float: left;
    padding: .6%;
    cursor: pointer;
    font-family: cursive;
}
.menu{
    width: 600px;
    float: left;
    height: 70px;

}
ul{
    float: left;
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 14px;
}
ul li{
    list-style: none;
    margin: 60px;
    font-size: 16px; 
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: .5s ease;
}
ul li a:hover{
    color: blue;
}
.shorts{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
    float: left;

}
.shorts p{
    color:blue;
    font-size: 25px;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 25;

}
.btn{
    display: block;
    margin: 25px;
    width: fit-content;
    border: 1px solid blue;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0,5s;
}
.btn:hover{
    background: blue;
}